* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* Font Family */
    --maven-pro: "Maven Pro", sans-serif;
    --inconsolata: Inconsolata, 'sans-serif'; 
    --asap: Asap, 'sans,serif';

    /* Font Sizes */
    --title-lg: 800 56px/120% var(--asap);
    --title-md: 800 24px/120% var(--asap);
    --title-sm: 800 16px/120% var(--asap);
    --subtitle: 400 20px/120% var(--inconsolata);
    --text-md: 400 16px/140% var(--maven-pro);
    --text-sm: 400 14px/140% var(--maven-pro); 

    /* Colors */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray100: #0D0E11;
    --gray200: #16181D;
    --gray300: #292C34;
    --gray400: #878EA1;
    --gray500: #C0C4CE;
    --gray600: #E2E4E9; 
}



