.subtitle {
    font: var(--subtitle);
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

.red {
    color: var(--red);
}

.purple {
    color: var(--purple);
}

.gray-400 {
    color: var(--gray400);
}

.gray-500 {
    color: var(--gray500);
}

.gray-600 {
    color: var(--gray600);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gap-3 {
    gap: 3px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}